@import "tailwindcss";

@theme {
  /*FONT SIZE*/
  --text-mini-size: 22px;
  --text-default-size: 25px;
  --text-title-size: 30px;
  --text-2-title-size: 35px;
  --text-3-title-size: 45px;
  --text-4-title-size: 55px;

  /*FONT COLOR*/
  --color-default-color: #fff;
}
